#
#this is the html5 boilerplate v2 2016-2017 for Atom by @chezmatt
# to use this paste thid snippet into your custom snippts file by going Atom > Snippets
# check out this link for more info...
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
#
'.text.html':
  'html5 boilerplate':
    'prefix': 'html5'
    'body': '''
<!doctype html>
<html lang="${0:en}">
<head>
	<meta charset="utf-8">
	<title>${1:Title}</title>
	<meta name="description" content="$2">
	<meta name="keywords" content="$3">
	<meta name="robots" content="index">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- HTML5 Shiv for backwards browsers -->
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<!--[if IE]>
    	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  	<![endif]-->
  <!-- ############## BOOTSTRAP 4.00 and Font Awesome from MAXCDN ################## -->
    <!--
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    -->
  <!-- ############## If you use this uncomment jQuery below ! ################## -->
  <!-- LOAD CUSTOM CSS BELOW -->
	<link rel="stylesheet" type="text/css" href="${4:main}.css" media="screen">
  <style>

  <!-- Very Custom Styles Here Please (Please use sparingly.) -->

  </style>
</head>
<body>
<header>
	<h1>${5:Hello World!}</h1>
	<nav><!--Start of the Nav -->
		<ul>
			<li><a href="#" title="${6:Nav}">${6:Nav}</a></li>
			<li><a href="#" title="${7:Nav}">${7:Nav}</a></li>
			<li><a href="#" title="${8:Nav}">${8:Nav}</a></li>
			<li><a href="#" title="${9:Nav}">${9:Nav}</a></li>
		</ul>
	</nav><!--End of the Nav -->
</header>
<main><!--this is like the wrapper-->
	<section>
		<h2>${10:Section Header}</h2>
		<p>${11:Lorem ipsum In irure sed in culpa nostrud ut Ut mollit consectetur Excepteur in ullamco Duis consectetur velit irure est ut fugiat do consectetur. Lorem ipsum Occaecat voluptate eu sunt amet ex eiusmod est ea ullamco ex anim laborum dolor culpa reprehenderit sint laboris in.}</p>
	</section>
	<aside>
		<img src="${12:#}" alt="${13:#}">
		<p>${14:Lorem ipsum Officia eu nisi aliquip et cillum ea do deserunt in labore ex Excepteur nulla irure non irure velit co∫nsequat ullamco aliqua cupidatat dolor voluptate fugiat dolor dolor consequat consectetur amet sint.}</p>
	</aside>
</main>
	<footer>
		<p>${15:&copy;2017 Matthew Wilkinson}</p>
		<a href="#" title="link title"><img src="#" alt="#"></a>
	</footer>
  <!-- Load JQuery here.-->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
	<!-- Load JS here.-->
	<script src="${16:/js/main}.js"></script>
  <script type="text/javascript"><!-- INSERT CUSTOM JS BELOW -->

  </script>
<!-- Coded using ATOM! Snippet by @chezmatt available on github. Special thanks to CodingDojo SanJose and UCSC Silicon Valley Extension.
     Open Source. MIT Lic. Just 'cause you know... -->
</body>
</html>
'''
#
#
#
#
